* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Baloo Thambi 2', cursive;
}
@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400;500&family=Gentium+Book+Plus&family=Inter&family=Mouse+Memoirs&family=Oswald:wght@500&family=Roboto:wght@300&family=Shadows+Into+Light&family=Uchen&display=swap');

.ctn-hero{
    background-color:#EAFDFC;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/background.jpg');
    background-position: center;
    background-size: cover;
}
.ctn-title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
img{
    width: 120px;
    border-radius: 50%;
}
h3{
    font-family: 'Baloo Thambi 2', cursive;
    font-size: 30px;
}
p{
    font-size: 20px;
}   
a{
    text-decoration: none;
    color: red;
}
.ctn-links{
    margin-top: 20px;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    padding: 10px 10px;
    margin: 10px;
    background-color: #BFEAF5;
    cursor: pointer;
    border: none;
}
a{
    color: white;
    font-size: 15px;
}
.btn:hover{
    background-color:#82AAE3;
}
.footer{
    height: 5vh;
    background-color:#EEEEEE;
}
.footer  > h2 {
    font-size: 20px;
    text-align: center;
}