* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Baloo Thambi 2', cursive;
}
@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400;500&family=Gentium+Book+Plus&family=Inter&family=Mouse+Memoirs&family=Oswald:wght@500&family=Roboto:wght@300&family=Shadows+Into+Light&family=Uchen&display=swap');

.ctn-hero{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-color:#DEFCF9;
    background: linear-gradient(#85CDFD,#DEFCF9);

}
.ctn-title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
img{
    width: 120px;
    border-radius: 50%;
}
h3{
    font-family: 'Baloo Thambi 2', cursive;
    font-size: 30px;
}
p{
    font-size: 20px;
}   
.ctn-links{
    margin-top: 20px;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    padding: 10px 10px;
    margin: 10px;
    background-color:#FAAB78;
    cursor: pointer;
    border: none;
}
.btn-instagram{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    padding: 10px 10px;
    margin: 10px;
    background: linear-gradient(#913175,#F2921D);
    cursor: pointer;
    border: none;
}
.btn-facebook{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    padding: 10px 10px;
    margin: 10px;
    background-color:blue;
    cursor: pointer;
    border: none;
}
.btn-whatsapp{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    padding: 10px 10px;
    margin: 10px;
    background-color:#16FF00;
    cursor: pointer;
    border: none;
}
a{
    color: white;
    font-size: 15px;
    text-decoration: none;
}
.btn:hover{
    background-color:#9EA1D4;
}