* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Baloo Thambi 2', cursive;
}
@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400;500&family=Gentium+Book+Plus&family=Inter&family=Mouse+Memoirs&family=Oswald:wght@500&family=Roboto:wght@300&family=Shadows+Into+Light&family=Uchen&display=swap');

.ctn-hero{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url('../assets/comida33.jpg'); */
    background-position: center;
    background-size: cover;
    background-color:#A8D1D1;
}
.ctn-title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
img{
    width: 120px;
    border-radius: 50%;
}
h3{
    font-family: 'Baloo Thambi 2', cursive;
    font-size: 30px;
}
p{
    font-size: 20px;
}   
.ctn-links{
    margin-top: 20px;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    padding: 10px 10px;
    margin: 10px;
    background-color: #F1F7B5;
    cursor: pointer;
    border: none;
}
a{
    color: black;
    font-size: 15px;
    text-decoration: none;
}
.btn:hover{
    background-color:#9EA1D4;
}